.toolbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  span {
    color: var(--ion-color-step-500);
    font-weight: 200;
  }
  width: fit-content;
  margin: auto;
  padding: 4px;
  border-radius: 6px;
  ion-label {
    display: flex;
    font-weight: 500;
    align-items: center;
  }
}

.bottom-sheet {
  --header-height: 52px;
  --item-height: 50px;
  --list-padding-block: 10px;
  --transition-duration: 300ms;
  --itens-in-list: 3;
  transition: var(--transition-duration);
  position: absolute;
  background: #fff;
  width: 100%;

  bottom: calc(
    -1 * ((var(--itens-in-list) * var(--item-height)) +
          (2 * var(--list-padding-block)))
  ); // just in case more itens are added in the future(--itens-in-list could also be changed progammatically)
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px -10px 10px -8px rgba(0, 0, 0, 0.17);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .sheet-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
  }

  ion-list {
    padding-block: var(--list-padding-block);
    ion-item {
      --min-height: var(--item-height);
    }
  }
}

.dropdown-btn {
  transition: 300ms;
  background: #f8f3fa;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 12px;
}
