<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-icon name="download"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="store">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
